// body{
//   background: url("http://alexekim.github.io/images/plane.jpg") center no-repeat;
//   // background-size: cover;
//   // background-repeat: no-repeat;
// }
#app{
  display: none;
}
#bg{
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background: url(http://alexekim.github.io/images/plane.jpg) no-repeat center center fixed;
  background-image: url(http://alexekim.github.io/assets/plane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

h1{
  font-family: 'Nunito', sans-serif;
  // font-size: 72px;
}
.headerLinksDiv{
  padding: 20px;
}
.headerLink{
  font-size: 40px;
  margin-left: 10px;

  color: rgb(74, 74, 74);
}
.headerLink:hover{
  color: rgb(38, 136, 101);
}
